@import '../node_modules/nastoletni-sass/src/style.scss';

.navbar {
    line-height: 80px;
    color: #fff;
    background: $primaryColor;

    div {
        @extend %container;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $mobileWidth) {
            flex-direction: row;
        }

        h1 {
            display: flex;
            align-items: center;
            line-height: 1.1;

            img {
                width: 70px;
                height: 70px;
                margin-right: 15px;
            }
        }

        nav {
            h2 {
                @extend %hidden;
            }

            ul {
                list-style: none;
                display: flex;

                a {
                    display: block;
                    padding: 0 30px;
                    color: #fff;
                    font-weight: bold;

                    &:hover, &:active, &:focus {
                        background: darken($primaryColor, 15%);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.columns {
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    > * {
        flex: 0 0 400px;
    }
}